label {
    /* Other styling... */
    text-align: left;
    clear: both;
    margin-right:15px;
    white-space: nowrap;
    display: inline-block;
    width: 100px;
}

p {
    text-align: center;
}

input {
    margin-bottom: 1%;
}

button {
    width: 200px;
    margin-left: 20px;
}