<div class="card my-5">
  <div class="card-body">
    <div class="row">
      <label for="partyId" id="partyId">PartyId:</label>
      <input readonly [placeholder]="partyLeader.partyId">
      <button *ngIf="isDataRetrieved" class="btn btn-info" (click)="updateMethod()">Fetch Leader Details</button>
    </div>
    <div class="row">
      <label for="leaderName" id="leaderName">Leader Name:</label>
      <input readonly [placeholder]="partyLeader.leaderName">
    </div>
    <div class="row">
      <label for="leaderState" id="leaderState">Leader State:</label>
      <input readonly [placeholder]="partyLeader.leaderState">
    </div>
    <div>
      <p><b>Developments</b></p>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Title</th>
          <th scope="col">Activity</th>
          <th scope="col">Budget</th>
          <th scope="col">State</th>
          <th scope="col">Date(mm/YYYY)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let eachDevelopment of partyLeaderDevelopment">
          <td>{{ eachDevelopment.developmentTitle }}</td>
          <td>{{ eachDevelopment.activity }}</td>
          <td>{{ eachDevelopment.budget }}</td>
          <td>{{ eachDevelopment.state }}</td>
          <td>{{ eachDevelopment.activityMonth }}/{{eachDevelopment.activityYear }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>